.palette {
  display: flex !important;
  justify-content: center !important;
  position: fixed !important;
  inset: 0 !important;
  min-height: 100vh !important;
  min-width: 100vw !important;
  user-select: none !important;
  font-family: 'Nunito' !important;
  z-index: 2147483647 !important;
  box-sizing: border-box !important;
}

.overlay {
  display: flex !important;
  position: fixed !important;
  inset: 0 !important;
  min-height: 100vh !important;
  min-width: 100vw !important;
  background: rgba(0, 0, 0, 0.25) !important;
}

.wrapper {
  display: flex !important;
  flex-direction: column !important;
  background-color: #fff !important;
  max-width: 560px !important;
  max-height: 50vh !important;
  height: fit-content !important;
  margin-top: 10% !important;
  border-radius: 8px !important;
  z-index: 999 !important;
  overflow: hidden !important;
  box-sizing: border-box !important;
}

.contents {
  display: flex !important;
  flex-direction: column !important;
  overflow: hidden !important;
  box-sizing: border-box !important;
}

.search {
  display: flex !important;
  align-items: center !important;
  width: 560px !important;
  height: 64px !important;
  padding: 20px !important;
  color: black !important;
  border-bottom: 1px solid black !important;
  box-sizing: border-box !important;
}

.search > svg {
  padding: 0 !important;
  margin: 0 !important;
  margin-right: 12px !important;
}

.input {
  border: none !important;
  outline: none !important;
  background: none !important;
  color: black !important;
  font-size: 20px !important;
  font-family: 'Nunito' !important;
  width: 503px !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
  height: 28px !important;
  box-sizing: border-box !important;
}

.input::-moz-selection {
  color: white !important;
  background: rgb(227, 107, 71) !important;
}

.input::selection {
  color: white !important;
  background: rgb(227, 107, 71) !important;
}

.options {
  max-width: 580px !important;
  overflow: hidden scroll !important;
  box-sizing: border-box !important;
}

.options::-webkit-scrollbar {
  width: 4px !important;
}

.options::-webkit-scrollbar-thumb {
  background-color: rgb(30, 68, 130) !important;
}

.option {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  width: 560px !important;
  height: 40px !important;
  padding: 10px 10px !important;
  color: rgb(30, 68, 130) !important;
  background-color: white !important;
  font-size: 14px !important;
  border: none !important;
  text-decoration: none !important;
  font-family: 'Nunito' !important;
  transition: color 0s ease !important;
  box-sizing: border-box !important;
}

.optionGroupContainer {
  display: flex !important;
  align-items: center !important;
  font-family: 'Nunito' !important;
  margin-right: 10px !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  font-size: 12px !important;
  padding: 3px 5px !important;
  border-radius: 2px !important;
  font-family: 'Nunito' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  width: fit-content !important;
  max-width: 100px !important;
  height: 20px !important;
  overflow-y: clip !important;
  overflow-x: auto !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  text-align: center !important;
  flex-shrink: 0 !important;
  box-sizing: border-box !important;
}

.optionGroupContainer::-webkit-scrollbar {
  height: 0px !important;
}

.optionWrapper {
  display: flex !important;
  height: 40px !important;
  align-items: center !important;
  font-family: 'Nunito' !important;
  margin: 0 !important;
  overflow-x: auto !important;
  overflow-y: clip !important;
  width: fit-content !important;
  white-space: nowrap !important;
  box-sizing: border-box !important;
}

.optionWrapper::-webkit-scrollbar {
  height: 0px !important;
}

.optionWrapper > p {
  margin: 0 !important;
  box-sizing: border-box !important;
  height: 40px !important;
  line-height: 40px !important;
  font-family: 'Nunito' !important;
  white-space: nowrap !important;
  font-size: 14px !important;
  margin: 0 !important;
}

.option:hover,
.option:focus {
  color: white !important;
  background-color: rgb(30, 68, 130) !important;
  cursor: pointer !important;
  outline: none !important;
}

.option > img {
  margin-right: 10px !important;
}
